* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
      margin-top: 50px;
    display: flex;
  }
  .baitap1 {
    background: pink; 
    padding: 30px;
    border: #090909 solid 1px;
    margin-left: 50px;
    height: 300px;
  }
  
  
  input {
    padding: 10px;
    height: 40px;
    font-size: 15px;
    border: none;
  }
  span {
    background: palevioletred;
    font-size: 17px;
    border: none;
  }
  button {
    color: pink;
    background: #090909;
    height: 30px;
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    border: none;
  }
  